.App {
  text-align: center;
  background-image: url(https://www.xtrafondos.com/descargar.php?id=8254&resolucion=3840x2160);
  background-repeat: repeat;
  background-size: 100%;

}


img {
  width: 15rem;
}

